@import url("demo.css");

.outer-wrapper {
    width: 100%;
    max-width: 1000px;
    padding: 0 30px 40px 30px;
    margin: 15px auto;
}

.outer-wrapper h3 {
    background: #3A3351;
    color: #EAEAEA;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.7);
    border-radius: 20px 20px 0 0;
    padding: 30px 20px;
    font-size: 22px;
}

.outer-wrapper footer {
    background: #3A3351;
    color: #EAEAEA;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.7);
    border-radius: 0 0 20px 20px;
    padding: 6px 20px 20px;
    font-size: 12px;
}

.inner-wrapper {
    padding: 35px 40px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-top-color: rgba(255,255,255,0.4);
    border-bottom-color: rgba(0,0,0,0.4);
}

.inner-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.inner-wrapper-header {
    padding: 15px 30px 0;
    background: rgba(229, 222, 233, 0.50);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    border-top-color: rgba(255,255,255,0.4);
    border-bottom-color: rgba(0,0,0,0.4);
}

.inner-wrapper-header:after {
    content: "";
    display: table;
    clear: both;
}

.inner-wrapper-info {
    padding: 20px 30px;
    background: #ffffd7;
    background: rgba(255, 255, 215, 1);
    border: 1px solid rgba(0,0,0,0.1);
    border-top-color: rgba(255,255,255,0.4);
    border-bottom-color: rgba(0,0,0,0.4);
}

.inner-wrapper-info:after {
    content: "";
    display: table;
    clear: both;
}

.inner-wrapper-error {
    padding: 20px 30px;
    background: rgba(255, 232, 232, 0.52);
    box-shadow: inset 0 0 15px rgba(255,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.1);
    border-top-color: rgba(255,255,255,0.4);
    border-bottom-color: rgba(0,0,0,0.4);
    color: #C90000;
}

.inner-wrapper-error:after {
    content: "";
    display: table;
    clear: both;
}

.inner-wrapper-success {
    padding: 20px 30px;
    background: rgba(216, 255, 213, 0.38);
    box-shadow: inset 0 0 15px rgba(0,255,0,0.4);
    border: 1px solid rgba(0,0,0,0.1);
    border-top-color: rgba(255,255,255,0.4);
    border-bottom-color: rgba(0,0,0,0.4);
    color: #008d47;
}

.inner-wrapper-success:after {
    content: "";
    display: table;
    clear: both;
}

.block-level {
    width: 120px;
    height: 120px;
    margin: 20px;
    position: relative;
    float: left;
    color: #3A3351;
    padding: 20px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

.inline-link {
    display: inline-block;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: #3A3351;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
}

.inline-link:hover {
    color: #8A849E;
    border-bottom-style: solid;
}

.inline-link:before {
    content: "\27A8";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;
}

.inline-link:hover:before {
    color: #b4aec9;
}

.inline-link-edit {
    background: url("../images/edit.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
    margin-left: 10px;
}

.inline-link-edit:hover {
    background: url("../images/edit_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
    margin-left: 10px;
}

.inline-link-delete {
    background: url("../images/delete_red.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
}

.inline-link-delete:hover {
    background: url("../images/delete_red_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
}

.inline-link-lock {
    background: url("../images/lock.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
}

.inline-link-lock:hover {
    background: url("../images/lock_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
}

.inline-link-unlock {
    background: url("../images/unlock.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
}

.inline-link-unlock:hover {
    background: url("../images/unlock_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 20px;
    padding-left: 20px;
}

.h3-logo {
    background: url("../images/logo_180_60.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    width:180px;
    height: 60px;
    margin: -20px 20px -20px 10px;
    display: inline-block;
    position: relative;
}


.h3-link {
    float: right;
    display: inline-block;
    position: relative;
    /* Font styles */
    color: #EAEAEA;
    text-shadow: 0 1px rgba(0,0,0,0.7);
    padding-right: 20px;
    padding-left: 20px;
    font-size: 22px;
    border: 1px solid rgb(58, 51, 81);
    border-left-color: rgb(234, 234, 234);
}

.h3-link:hover {
    background: #8A849E;
    color: #333;
}

.h3-link:before {
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
}

.h3-link:hover:before {
    background: #8A849E;
    color: #333;
}

.modern {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    background: #3A3351;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.5), 
        0 2px 2px rgba(0,0,0,0.3), 
        0 0 4px 1px rgba(0,0,0,0.2); 

    /* Font styles */
    text-decoration: snow;
    text-shadow: 0 1px rgba(0,0,0,0.7);
    color: #EAEAEA;
}

.modern:hover {
    background: #8A849E;
    color: #333;
}

input[type=text],
input[type=password]{
    font-size: 1em
}

.simple-input {
    padding: 5px;
    border: 4px solid #3A3351;
    border-radius: 5px;
    color: #333;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.simple-input:hover {
    border-radius: 8px
}

.simple-input:focus {
    outline: none;
    border-radius: 8px;
    border-color: #8A849E;
}

form.right {
    float: right;
}
